**/__pycache__
.env
.venv
**/deprecated*
/ui/src/stores/deprecated-map-layers-store.ts
/ui/src/stores/deprecated-drawing-store.ts
/ui/src/components/map/deprecated-UnifiedProjectMap2.tsx
/server/example-road-with-arrows.json
/ui/src/components/project-workspace/deprecated-RightFloatingPanel.tsx
my_database.db
/logs.txt
/logs/**
deploy.sh
cloudbuild_multi*.yaml
cloudbuild_single*.yaml
firebase-debug.log
